.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  vertical-align: middle;
  pointer-events: none;
}

footer {
  padding-top: 10px;
  text-align: center;
}
.App-header {
  text-align: right;
}

.App-header li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

.content {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.line {
  margin: 0 auto;
  border-bottom: 3px solid #fff;
  width: 60px;
}
.main {
  padding: 20px;
}

.profile {
  text-align: center;
  margin:10px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
